<div class="app-wrap">
  <!--*ngIf="authenticationServices.isLoggedIn()"-->
  <app-header></app-header>

  <!-- BEGIN .app-container -->
  <div class="app-container">
    <app-nav-bar></app-nav-bar>

    <!-- BEGIN .page-header -->
    <header class="page-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="page-title">
              <h3>{{path}}</h3>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END: .page-header -->

    <!-- BEGIN .main-content -->
    <div class="main-content" [style.min-height.px]="innerHeight - 200">

      <router-outlet></router-outlet>

    </div>
    <!-- END: .main-content -->

    <!-- BEGIN .main-footer -->
    <footer class="main-footer"></footer>
    <!--© Kien {{year}}-->
    <!-- END: .main-footer -->

  </div>
  <!-- END: .app-container -->

</div>
