.user-settings {
  cursor:pointer;
  color: #000000 !important;
}

.header-overwrite {
  background-color: #ffffff !important;
  background-image: linear-gradient(#ffffff, #ffffff 95%, #ffffff) !important;
}


/*#language {*/
/*  cursor:pointer;*/
/*  color: #ffffff;*/
/*}*/

.admin-settings-list {
  cursor:pointer;
}


/*.header-overwrite {*/
/*  background-color: #ffffff !important;*/
/*  background-image: linear-gradient(#ffffff, #ffffff 95%, #ffffff) !important;*/

/*  -webkit-box-shadow: 0 8px 6px -6px black!important;*/
/*  -moz-box-shadow: 0 8px 6px -6px black!important;*/
/*  box-shadow: 0 8px 6px -6px black!important;*/
/*}*/

/*.action-buttons {*/
/*  !*line-height: 100%;*!*/
/*  display: table-cell;*/
/*  vertical-align: middle;*/

/*}*/

/*.action-buttons button {*/
/*  float: right;*/
/*  vertical-align: middle;*/
/*  margin: 0 auto;*/
/*}*/

.button-container {
  display: table;
  width:100%;
  height: 55px;
}


.button-wrapper {
  display: table-cell;
  vertical-align: middle;
}


.button-wrapper button {
  margin-right: 10px;
  vertical-align: middle;
  display: block;
  float: right;
  /*margin: 0 auto;*/
}
