<header class="app-header header-overwrite">
  <div class="container-fluid">

    <!-- Row start -->
    <div class="row gutters">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">

        <!-- BEGIN .logo -->
        <div class="logo-block">
          <a href="index.html" class="logo">
            <img src="assets/img/logo/logo.png" alt="logo" />
          </a>
        </div>
        <!-- END .logo -->

      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">

        <!-- Header actions start -->
        <ul class="header-actions">
          <li class="dropdown">
            <a id="userSettings" class="user-settings clearfix" data-toggle="dropdown" aria-haspopup="true" (click)="toggleMenu($event)">
										<span class="avatar">
											<i class="icon-account_circle"></i>
										</span>
              <span class="user-name user-settings">{{username}}<i class="icon-chevron-small-down downarrow"></i></span>
            </a>
            <div [className]="menuOpen ? 'dropdown-menu md dropdown-menu-right show' : 'dropdown-menu md dropdown-menu-right'" aria-labelledby="userSettings">
              <div class="admin-settings">
                <ul class="admin-settings-list">

                  <li>
                    <a  (click)="changePassword()">
                      <span>Change password</span>
                    </a>
                  </li>
                  <li>
                    <a (click)="logout()">
                      <span >Logout</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- Row start -->

  </div>
</header>
