

<body class="login-bg" [style.height.px]="innerHeight">
<!--[ngStyle]="{'height.px': innerHeight}">-->

<!-- Container start -->
<div class="container">

  <form #f="ngForm" (ngSubmit)="forgotPassword(f)">
    <div class="row justify-content-md-center">
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="login-screen">
          <div class="login-box">
            <a class="login-logo">
              <img src="assets/img/logo/logo.png" alt="Logo" />
            </a>
            <h5>Forgot Password?</h5>
            <p class="info">In order to receive your access code by email, please enter your username.</p>

            <div class="form-group">
              <dx-text-box class="form-control" name="username" required i18n-placeholder placeholder="Username" #username="ngModel" [(ngModel)]="usernameVariable" ></dx-text-box>
              <small [hidden]="username.valid || (username.pristine)" class="text-danger" i18n>
                Please enter your username
              </small>
            </div>
            <div class="actions">
              <button type="submit" class="btn btn-primary btn-block">
                <dx-load-indicator class='button-indicator'
                                   [hidden]="!loadIndicatorVisible">
                </dx-load-indicator>
                <span [hidden]="loadIndicatorVisible" i18n>Forgot password</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<!-- Container end -->

</body>

