
<app-grid-layout [dxDataGrid]="grid" [gridId]="'dashboard-grid'"></app-grid-layout>

<dx-data-grid #grid id="dashboard-grid"
              [dataSource]="dataSource"
              [showBorders]="true"
              [allowColumnReordering]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [hoverStateEnabled]="true"
              [columnAutoWidth]="true">
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-builder
    [customOperations]="customOperations">
  </dxo-filter-builder>
  <dxo-filter-builder-popup
    [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-export [enabled]="true" fileName="dashboard-grid" [allowExportSelectedData]="false"></dxo-export>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50]"
    [showInfo]="true">
  </dxo-pager>
  <dxo-state-storing></dxo-state-storing>
  <dxi-column dataField="name" caption="Name" dataType="string"></dxi-column>
  <dxi-column dataField="lastName" caption="Last Name" dataType="string"></dxi-column>
  <dxi-column dataField="age" caption="Age" dataType="number" [visible]="false"></dxi-column>
  <dxi-column dataField="id" caption="ID" [visible]="false" dataType="any"></dxi-column>
</dx-data-grid>
