
<dx-popup
  class="popup"
  [width]="'500px'"
  [height]="'400px'"
  [showTitle]="true"
  [showCloseButton]="false"
  title="User"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="visible">

  <dx-scroll-view
    direction="vertical">
    <div id="content">

      <form>
        <dx-form #form id="form"
                 [formData]="user"
                 [readOnly]="false"
                 [showColonAfterLabel]="true"
                 [showValidationSummary]="true">

          <dxi-item
            dataField="userName"
            [isRequired]="true"
            editorType="dxTextBox">
            <dxo-label
              i18n-text
              text="User name">
            </dxo-label>
          </dxi-item>

          <dxi-item
            dataField="email"
            [isRequired]="true"
            editorType="dxTextBox">
            <dxo-label
              i18n-text
              text="Email">
            </dxo-label>
            <dxi-validation-rule
              type="email"
              message="Email is invalid">
            </dxi-validation-rule>
          </dxi-item>

          <dxi-item
            *ngIf="isFromUserManager"
            dataField="initialRole"
            [isRequired]="true"
            [editorOptions]="roleOptions"
            editorType="dxSelectBox">
            <dxo-label
              i18n-text
              text="Initial role">
            </dxo-label>
          </dxi-item>

        </dx-form>
      </form>

    </div>
  </dx-scroll-view>

  <div class="footer">
    <dx-button [text]="'Cancel'" class="cancel-button" (onClick)="close(false)"></dx-button>
    <dx-button [text]="'Save'" class="okay-button" (onClick)="save(form)"></dx-button>
  </div>

</dx-popup>
