.okay-button {
  /*float: right;*/
  /*margin-right: 40px;*/

  right: 15px;
  bottom: 10px;
  position: absolute;
}

.cancel-button {
  /*float: left;*/
  /*margin-left: 40px;*/

  left: 15px;
  bottom: 10px;
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  /*margin-bottom: -45px;*/
}
