<nav class="navbar navbar-expand-lg navbar-menu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarCollapse()">
						<span class="navbar-toggler-icon">
							<i class="icon-menu5"></i>
						</span>
  </button>
  <div [className]="showNavbarCollapse ? 'collapse navbar-collapse show' : 'collapse navbar-collapse'" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" id="bluemoon-dashboards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="setActiveDrowdown($event, 'Dashboard')">
          <i class="nav-icon icon-blur_on"></i>
          <span class="nav-item">Dashboards</span>
        </a>
        <div [className]="activeDropdown == 'Dashboard' ? 'dropdown-menu show' : 'dropdown-menu'" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]='["Dashboard"]'>Dashboard</a>
        </div>
      </li>

      <li *ngIf="hasRole(UserRolesConstants.workflowAdmin)" class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" id="workflow" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="setActiveDrowdown($event, 'Workflow')">
          <i class="nav-icon fas fa-network-wired"></i>
          <span class="nav-item" i18n>Workflow</span>
        </a>
        <div [className]="activeDropdown == 'Workflow' ? 'dropdown-menu show' : 'dropdown-menu'" aria-labelledby="navbarDropdownMenuLink">
          <a *ngIf="hasRole(UserRolesConstants.workflowAdmin)" class="dropdown-item" [routerLink]='["WorkflowHistory"]' i18n>History</a>
        </div>
      </li>

      <li *ngIf="hasRole(UserRolesConstants.adminRole)" class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" id="settings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="setActiveDrowdown($event, 'Settings')">
          <i class="nav-icon fas fa-cogs"></i>
          <span class="nav-item" i18n>Settings</span>
        </a>
        <div [className]="activeDropdown == 'Settings' ? 'dropdown-menu show' : 'dropdown-menu'" aria-labelledby="navbarDropdownMenuLink">
          <a *ngIf="hasRole(UserRolesConstants.adminRole)" class="dropdown-item" [routerLink]='["UserManagement"]' i18n>User management</a>
          <a *ngIf="hasRole(UserRolesConstants.adminRole)" class="dropdown-item" [routerLink]='["PickListManagement"]' i18n>Pick list management</a>

        </div>
      </li>

    </ul>
  </div>
</nav>

