

<body class="login-bg" [style.height.px]="innerHeight">
<!--[ngStyle]="{'height.px': innerHeight}">-->

<!-- Container start -->
<div class="container">

  <form #f="ngForm" (ngSubmit)="changePassword(f)">
    <div class="row justify-content-md-center">
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="login-screen">
          <div class="login-box">
            <a class="login-logo">
              <img src="assets/img/logo/logo.png" alt="Logo" />
            </a>
            <div class="form-group">
              <dx-text-box mode="password" class="form-control" name="currentPassword" required i18n-placeholder placeholder="Current password" #currentPassword="ngModel" [ngModel]="changePasswordData.currentPassword" ></dx-text-box>
              <small [hidden]="currentPassword.valid || (currentPassword.pristine)" class="text-danger" i18n>
                Please enter your current password
              </small>
            </div>
            <div class="form-group">
              <dx-text-box mode="password" class="form-control" name="newPassword" required i18n-placeholder placeholder="New password" #newPassword="ngModel" [ngModel]="changePasswordData.newPassword"></dx-text-box>
              <small [hidden]="newPassword.valid || (newPassword.pristine)" class="text-danger" i18n>
                Please enter your new password
              </small>
              <small [hidden]="newPassword.value?.length > 7 || newPassword.pristine" class="text-danger" i18n>
                Your password must be at least 8 characters long
              </small>
            </div>
            <div class="form-group">
              <dx-text-box mode="password" class="form-control" name="confirmPassword" required i18n-placeholder placeholder="Confirm new password" #confirmPassword="ngModel" [ngModel]="changePasswordData.confirmPassword"></dx-text-box>
              <small [hidden]="confirmPassword.valid || (confirmPassword.pristine)" class="text-danger" i18n>
                Please confirm your new password
              </small>
              <small [hidden]="confirmPassword.value === newPassword.value || confirmPassword.pristine" class="text-danger" i18n>
                Your passwords do not match
              </small>
            </div>
            <div class="actions">
              <button type="submit" class="btn btn-primary btn-block">
                <dx-load-indicator class='button-indicator'
                                   [hidden]="!loadIndicatorVisible">
                </dx-load-indicator>
                <span [hidden]="loadIndicatorVisible" i18n>Change password</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<!-- Container end -->

</body>

