::ng-deep .custom-item {
  position: relative;
  min-height: 30px;
}

::ng-deep .custom-item .label  {
  display: inline-block;
  padding-left: 45px;
  text-indent: 0;
  line-height: 30px;
  font-size: 15px;
  width: 100%;
}
::ng-deep .custom-item-icon {
  left: 15px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
}
::ng-deep .custom-item-icon-selector {
  left: 15px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

/*::ng-deep .custom-item > i {*/
  /*left: 15px;*/
  /*margin-top: -7px;*/
  /*position: absolute;*/
  /*top: 50%;*/
/*}*/

/*.container {*/
  /*width:60%;*/
  /*height:41px;*/
/*}*/
/*.left {*/
  /*width:auto;*/
  /*height:41px;*/
  /*overflow:hidden;*/
/*}*/
.delete-icon {
  right: 15px;
  position: absolute;
  margin-top: -23px;
  color: #ff6961;
}

.dropdown-placement {
  float:left;
  width:calc(100% - 85px);
  /*margin-right: 2px !important;*/
}

.button-placement {
  float: right;
  margin-top: 2px !important;
  margin-left: 2px !important;
  width: 40px;
}

