<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label" i18n>Layouts</div>
    <div class="dx-field-value">
      <dx-select-box class="dropdown-placement"
        [dataSource]="layouts"
        (onValueChanged)="changeLayout($event)"
        displayExpr="layoutName"
        fieldTemplate="field">
        <div *dxTemplate="let data of 'field'">
          <div class="custom-item">
            <i [hidden]="data == null || data.userId == null" class="fas fa-user custom-item-icon-selector"></i>
            <i [hidden]="data == null || data.userId != null" class="fas fa-lock custom-item-icon-selector"></i>

            <dx-text-box class="label"
                         [value]="data?.layoutName"
                         [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div *dxTemplate="let data of 'item'">
          <div class="custom-item">
            <i [hidden]="data == null || data.userId == null" class="fas fa-user custom-item-icon"></i>
            <i [hidden]="data == null || data.userId != null" class="fas fa-lock custom-item-icon"></i>
            <span class="label">{{data?.layoutName}}</span>
          </div>
          <i [hidden]="data == null || data.userId == null" class="fas fa-trash-alt delete-icon" (click)="deleteLayout(data)"></i>
        </div>
      </dx-select-box>
      <dx-button class="button-placement" icon="far fa-save" i18n-hint hint="Save as" (onClick)="saveLayoutAs()">
      </dx-button>
      <dx-button class="button-placement" [disabled]="currentLayout?.userId == null"  icon="fas fa-save" i18n-hint hint="Save" (onClick)="saveLayout()">
      </dx-button>
    </div>
  </div>

</div>

<dx-popup
  class="popup"
  [width]="300"
  [height]="250"
  [showTitle]="true"
  i18n-title
  title="Save as"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="layoutNameVisible">
  <div class="dx-field">
    <div class="dx-field-label" i18n>Layout name</div>
    <div class="dx-field-value">
      <dx-text-box i18n-placeholder placeholder="Enter a name here" [(ngModel)]="layoutName"></dx-text-box>
    </div>
  </div>

  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    [options]="saveAsOptions">
  </dxi-toolbar-item>
</dx-popup>
