
<app-grid-layout [dxDataGrid]="grid" [gridId]="'workflow-history-master-detail-grid'"></app-grid-layout>

<dx-data-grid #grid id="workflow-history-master-detail-grid"
              [dataSource]="dataSource"
              [showBorders]="true"
              [allowColumnReordering]="true"
              [allowColumnResizing]="true"
              [rowAlternationEnabled]="true"
              [hoverStateEnabled]="true"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              [columnAutoWidth]="true">
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-builder
    [customOperations]="customOperations">
  </dxo-filter-builder>
  <dxo-filter-builder-popup
    [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-export [enabled]="true" fileName="WorkflowHistory" [allowExportSelectedData]="false"></dxo-export>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50]"
    [showInfo]="true">
  </dxo-pager>
  <dxo-state-storing></dxo-state-storing>
  <dxi-column dataField="type" i18n-caption caption="Type" [groupIndex]="0"></dxi-column>
  <dxi-column dataField="state" i18n-caption caption="State" dataType="string">
<!--    <dxo-lookup-->
<!--      [dataSource]="statusSource"-->
<!--      valueExpr="key"-->
<!--      displayExpr="{{display}}">-->
<!--    </dxo-lookup>-->
  </dxi-column>
  <dxi-column dataField="assignee" i18n-caption caption="Assignee"></dxi-column>
  <dxi-column dataField="started" i18n-caption caption="Started" dataType="date" format='shortDateShortTime' [sortIndex]="0" sortOrder="desc"></dxi-column>
  <dxi-column dataField="completed" i18n-caption caption="Completed" dataType="date" format='shortDateShortTime'></dxi-column>
  <dxi-column dataField="correlationId" i18n-caption caption="CorrelationId" [visible]="false"></dxi-column>
  <dxi-column dataField="id" i18n-caption caption="Id" [visible]="false"></dxi-column>

  <div *dxTemplate="let workflow of 'detail'">
    <div class="master-detail-caption">History details</div>
    <dx-data-grid
      [dataSource]="getHistory(workflow.data.id)"
      [showBorders]="true"
      [columnAutoWidth]="true">
      <dxi-column dataField="created" i18n-caption caption="Created" dataType="date" format='shortDateShortTime' [sortIndex]="0" sortOrder="asc"></dxi-column>
      <dxi-column dataField="fromState" i18n-caption caption="From State" dataType="string">
        <dxo-lookup
          [dataSource]="statusSource"
          valueExpr="key"
          displayExpr="{{display}}">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="toState" i18n-caption caption="To State" dataType="string">
        <dxo-lookup
          [dataSource]="statusSource"
          valueExpr="key"
          displayExpr="{{display}}">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="userName" i18n-caption caption="UserName"></dxi-column>
      <dxi-column dataField="message" i18n-caption caption="Message"></dxi-column>
      <dxi-column dataField="workflowId" i18n-caption caption="WorkflowId" [visible]="false"></dxi-column>
      <dxi-column dataField="id" i18n-caption caption="ID" [visible]="false"></dxi-column>
    </dx-data-grid>
  </div>

</dx-data-grid>
