<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Type</div>
    <div class="dx-field-value">
      <dx-select-box class="dropdown-placement"
                     [dataSource]="picklistTypes"
                     (onValueChanged)="changePicklist($event)">
      </dx-select-box>
    </div>
  </div>
</div>



<dx-data-grid #grid id="pick-list-values-grid"
              [dataSource]="picklistValues"
              [showBorders]="true"
              [allowColumnReordering]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [hoverStateEnabled]="true"
              [columnAutoWidth]="true"
              [keyExpr]="'id'"
              (onRowUpdated)="rowUpdated($event)"
              (onRowInserted)="rowAdded($event)">
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-export [enabled]="true" fileName="pick-list-values-grid" [allowExportSelectedData]="false"></dxo-export>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50]"
    [showInfo]="true">
  </dxo-pager>
  <dxo-editing
    mode="form"
    [allowUpdating]="true"
    [allowAdding]="true"
    [useIcons]="true">
  </dxo-editing>
  <dxi-column dataField="key" i18n-caption caption="Key" dataType="string"></dxi-column>
  <dxi-column dataField="enValue" i18n-caption caption="English value" dataType="string"></dxi-column>
  <dxi-column dataField="nlValue" i18n-caption caption="Dutch value" dataType="string"></dxi-column>
  <dxi-column dataField="frValue" i18n-caption caption="French value" dataType="string"></dxi-column>
  <dxi-column dataField="active" i18n-caption caption="Active" dataType="boolean"></dxi-column>
  <dxi-column dataField="type" i18n-caption caption="Type" [visible]="false" dataType="string">
    <dxo-form-item [visible]="false" ></dxo-form-item>
  </dxi-column>
  <dxi-column dataField="id" i18n-caption caption="ID" [visible]="false" dataType="any">
    <dxo-form-item [visible]="false" ></dxo-form-item>
  </dxi-column>
</dx-data-grid>
