<dx-popup
  class="popup"
  [width]="'500px'"
  [height]="'450px'"
  [showTitle]="true"
  title="Add message"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="showMessage">

  <dx-text-area [(value)]="message" [height]="300"></dx-text-area>

  <div class="footer">
    <dx-button [text]="'Cancel'" class="cancel-button" (onClick)="closeModal(false)"></dx-button>

    <dx-button [text]="'Default text'" class="insert-button" (onClick)="insertDefaultText()"></dx-button>
    <dx-button [text]="'Add'" class="okay-button" (onClick)="closeModal(true)"></dx-button>
  </div>
</dx-popup>
