
<dx-data-grid #grid id="user-management-grid"
              [dataSource]="dataSource"
              [showBorders]="true"
              [allowColumnReordering]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [hoverStateEnabled]="true"
              (onToolbarPreparing)="onToolbarPreparingUser($event)"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              [columnAutoWidth]="true">
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-builder
    [customOperations]="customOperations">
  </dxo-filter-builder>
  <dxo-filter-builder-popup
    [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-export [enabled]="true" fileName="user-management-grid" [allowExportSelectedData]="false"></dxo-export>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50]"
    [showInfo]="true">
  </dxo-pager>
  <dxo-state-storing></dxo-state-storing>
  <dxi-column dataField="userName" i18n-caption caption="User Name" dataType="string"></dxi-column>
  <dxi-column dataField="email" i18n-caption caption="Email" dataType="string"></dxi-column>
  <dxi-column dataField="landingPage" i18n-caption caption="Landing Page" dataType="string"></dxi-column>
  <dxi-column dataField="active" i18n-caption caption="Active" dataType="boolean"></dxi-column>
  <dxi-column dataField="emailConfirmed" i18n-caption caption="Has logged in" dataType="boolean"></dxi-column>
  <dxi-column dataField="id" i18n-caption caption="ID" [visible]="false" dataType="any"></dxi-column>

  <div *dxTemplate="let user of 'detail'">
    <div class="master-detail-caption">User roles</div>
    <dx-data-grid
      [dataSource]="getRoles(user.data.id)"
      [showBorders]="true"
      (onToolbarPreparing)="onToolbarPreparing($event, user.data.id)"
      [columnAutoWidth]="true">
      <dxi-column dataField="role" i18n-caption caption="Role"></dxi-column>
      <dxi-column type="buttons" [width]="80">
        <dxi-button
          hint="Remove role"
          icon="trash"
          [visible]="true"
          [onClick]="removeRoleFromUser">
        </dxi-button>
      </dxi-column>
    </dx-data-grid>
  </div>

  <dxi-column type="buttons" [width]="80">
    <dxi-button
      hint="Toggle active"
      icon=" fas fa-dot-circle"
      [visible]="true"
      [onClick]="toggleActive">
    </dxi-button>
    <dxi-button
      hint="Delete"
      icon="trash"
      [visible]="true"
      [onClick]="delete">
    </dxi-button>
  </dxi-column>

</dx-data-grid>



<dx-popup
  class="popup"
  #addPopup
  [width]="'90%'"
  [height]="'90%'"
  [showTitle]="true"
  title="Add roles"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="addVisible">


  <dx-data-grid id="add-roles-grid"
                #addRolesGrid
                [dataSource]="addRolesDatasource"
                [showBorders]="true"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="true"
                [keyExpr]="'role'"
                [allowColumnResizing]="true"
                [hoverStateEnabled]="true"
                [columnAutoWidth]="true">
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-selection
      [selectAllMode]="'allPages'"
      [showCheckBoxesMode]="'onClick'"
      mode="multiple"
    ></dxo-selection>
    <dxi-column dataField="role" i18n-caption caption="Role" dataType="string"></dxi-column>
  </dx-data-grid>

  <dx-button [text]="'Cancel'" class="cancel-button" (onClick)="closePopup()"></dx-button>
  <dx-button [text]="'Add'" class="okay-button" (onClick)="addSelectedRolesToUser(addRolesGrid)"></dx-button>

</dx-popup>

<app-user-modal [isFromUserManager]="true"></app-user-modal>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="isLoading"
    [showIndicator]="true"
    [message]="'Saving...' | translate"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>
