
<dx-data-grid *ngIf="settings" #grid id="{{settings.name}}-grid"
              [dataSource]="dataSource"
              [showBorders]="true"
              [allowColumnReordering]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [hoverStateEnabled]="true"
              [columnAutoWidth]="true"
              keyExpr="{{settings.key}}"
              (onRowUpdated)="rowUpdated($event)"
              (onRowInserted)="rowAdded($event)"
              (onRowRemoved)="rowRemoved($event)">
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true" fileName="{{settings.name}}" [allowExportSelectedData]="false"></dxo-export>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50]"
    [showInfo]="true">
  </dxo-pager>
  <dxo-editing
    mode="form"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    [useIcons]="true">
  </dxo-editing>
  <dxi-column *ngFor="let column of settings.columns" dataField="{{column.field}}" caption="{{column.caption}}" dataType="{{column.type}}" visible="{{column.visible}}">
    <dxo-form-item [visible]="column.canEdit">
      <dxi-validation-rule *ngFor="let rule of column.validationRules" type="{{rule.type}}" [pattern]="rule.pattern"
                           message="{{rule.message}}" [min]="rule.min" [max]="rule.max" [validationCallback]="rule.validationCallback"></dxi-validation-rule>
    </dxo-form-item>
    <dxo-lookup *ngIf="column.lookupSettings"
                [allowClearing]="true"
      [dataSource]="column.lookupSettings.dataSource"
      valueExpr="{{column.lookupSettings.valueExpr}}"
      displayExpr="{{column.lookupSettings.displayExpr}}">


    </dxo-lookup>
  </dxi-column>
</dx-data-grid>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="isLoading"
    [showIndicator]="true"
    [message]="'Loading data'"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>
