<body class="login-bg" [style.height.px]="innerHeight">
      <!--[ngStyle]="{'height.px': innerHeight}">-->

<!-- Container start -->
<div class="container">

  <form #f="ngForm" novalidate (ngSubmit)="login(f)">
    <div class="row justify-content-md-center">
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="login-screen">
          <div class="login-box">
            <a class="login-logo">
              <img src="assets/img/logo/logo.png" alt="Logo" />
            </a>
            <div class="form-group">
              <dx-text-box class="form-control" name="username" required i18n-placeholder placeholder="Username" #username="ngModel" [ngModel]="credentials.username" ></dx-text-box>
            </div>
            <div class="form-group">
              <dx-text-box mode="password" class="form-control" name="password" required i18n-placeholder placeholder="Password" [ngModel]="credentials.password"></dx-text-box>
              <!--<input type="password" required class="form-control" name="password"  placeholder="Password" [ngModel]="credentials.password" />-->
            </div>
            <div class="actions">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid">
                <dx-load-indicator class='button-indicator'
                                   [hidden]="!loadIndicatorVisible">
                </dx-load-indicator>
                <span [hidden]="loadIndicatorVisible" i18n>Login</span>
              </button>

              <a (click)="forgotPassword()" i18n>Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<!-- Container end -->

</body>
